# Visual Studio Files
\CurlDownloader\.vs\*
\CurlDownloader\Debug\*
\CurlDownloader\Release\*
\CurlDownloader\CurlDownloader\Debug\*
\CurlDownloader\CurlDownloader\Release\*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
CurlDownloader/.vs/CurlDownloader/v15/Browse.VC.db
*.ipch
*.obj
CurlDownloader/CurlDownloader/Release/CurlDownloader.Build.CppClean.log
*.log
*.tlog
*.dll
CurlDownloader/Release/CurlDownloader.exp
*.iobj
CurlDownloader/Release/CurlDownloader.ipdb
CurlDownloader/Release/CurlDownloader.pdb
CurlDownloader/Release/CurlDownloader.lib
